In [1]:
import main
import datetime
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
from utils import return_currency, return_now_datetime

In [3]:
return_now_datetime(jump_back_to=13)

'2013-09-04T15:49:34.847050Z'

In [4]:
us = main.UsersService()
os = main.OperationsService()
md = main.MarketDataService()

In [5]:
req = md.get_candles(
    instrument_id = "BBG00NZHT902",
    interval=5
)

candels for BBG00NZHT902 from 2022-09-04T15:49:34.860920Z to 2023-09-03T15:49:34.860985Z

In [5]:
us.get_accounts_main_values()

{'2088006610': 'Среднесрочный', '2108751153': 'ИИС', '2111914095': 'Дивиденды'}

In [6]:
pd.DataFrame(os.get_portfolio_positions(2088006610))

KeyError: 'currentNkd'

In [7]:
ins = main.InstrumentsService()

In [8]:
pd.DataFrame(ins.get_dividends(figi = "BBG000CQCCK6"))

,dividendNet,paymentDate,declaredDate,lastBuyDate,dividendType,recordDate,regularity,closePrice,yieldValue,createdAt
0,1.9218,2020-10-16,2020-08-04,2020-09-30,,2020-10-02,Quarter,4460.4978,0.04,2021-06-16T02:01:47.973139Z
1,1.9218,2021-01-15,2020-11-17,2020-12-30,,2021-01-01,Quarter,5596.2816,0.03,2021-06-16T02:01:47.973139Z
2,1.9218,2021-04-16,2021-02-23,2021-03-31,,2021-04-02,Quarter,6485.1141,0.03,2021-06-16T02:01:47.973139Z
3,1.9218,2021-07-16,2021-05-05,2021-06-30,,2021-07-02,Quarter,7282.6611,0.03,2021-08-02T02:03:08.061061Z
4,1.9218,2021-10-15,2021-08-09,2021-09-29,,2021-10-01,Quarter,9535.9716,0.02,2021-11-01T02:02:53.950761Z
5,1.9218,2022-01-21,2021-11-10,2022-01-05,,2022-01-07,Quarter,13120.1286,0.01,2022-02-07T02:07:01.416001Z
6,1.9218,2022-04-14,2022-02-16,2022-03-30,,2022-04-01,Quarter,11371.2906,0.02,2022-05-02T02:01:41.783010Z
7,1.9218,2022-07-15,2022-05-06,2022-06-29,,2022-07-01,,10049.0922,0.02,2022-09-27T09:48:14.446372Z
8,1.9218,2022-10-21,2022-08-03,2022-10-05,,2022-10-07,,11903.6292,0.02,2022-11-07T02:09:13.073945Z
9,1.9218,2023-01-20,2022-11-09,2023-01-04,,2023-01-06,,13017.3123,0.01,2023-02-06T06:52:53.735132Z
10,1.9218,2023-04-21,2023-02-17,2023-04-04,,2023-04-06,,16425.6246,0.01,2023-04-20T02:12:32.214393Z
11,1.9218,2023-07-21,2023-05-04,2023-07-05,,2023-07-07,Quarter,17331.7533,0.01,2023-07-07T07:25:35.921490Z

In [14]:
pd.DataFrame(os.get_operations(2088006610, figi = "BBG000CQCCK6"))

,id,parentOperationId,currency,payment,price,state,quantity,quantityRest,figi,instrumentType,date,type,operationType,trades
0,2274546140,,RUB,1.5813,0.0000,OPERATION_STATE_EXECUTED,0,0,BBG000CQCCK6,share,2022-01-31T18:19:10Z,Выплата дивидендов,OPERATION_TYPE_DIVIDEND,[]
1,326429040900,,RUB,-11141.8398,11141.8398,OPERATION_STATE_EXECUTED,1,0,BBG000CQCCK6,share,2021-11-05T17:55:52.247Z,Покупка ЦБ,OPERATION_TYPE_BUY,"[{'tradeId': '6428384350', 'dateTime': '2021-1..."
2,1853295880,326429040900,RUB,-4.7439,0.0000,OPERATION_STATE_EXECUTED,0,0,BBG000CQCCK6,share,2021-11-05T17:55:53.247Z,Удержание комиссии за операцию,OPERATION_TYPE_BROKER_FEE,[]